<h1><%= @document.document_name %></h1>
<div class='information-box'>
  Description: <%= @document.description %>
  <br>
  When completed: <%= @document.completion_status %>
</div>
<div class="inline">
  <%= button_to "Update Document", edit_document_path(@document), method: :get, class: 'button' %>
  <%= button_to "Delete Document", document_path(@document), method: :delete, class: 'button' %>
</div>

  <h3>Stages:</h3>
  <p>
    This document is used in the following stages:
  </p>
  <ul>
    <% @document.stages.each do |stage| %>
      <li>
        <%= link_to stage.stage_name, stage_path(stage) %>
      </li>
    <% end %>
  </ul>
