<h1><%= @app.procedure.procedure_name %></h1>
<% if @app.completed %>
  (<%= @app.procedure.completion_status %>)
<% end %>
<h5>For: <%= @app.user.user_name %></h5>

<% @steps.each do |step| %>
  <div class="small-12 medium-12 large-12 columns" id="stage-box">
    <div class="step-name-box">
      <%= step.order %>. <%= step.stage.stage_name %>
      <div class="button" id="info-button" data-open="step-mod<%=step.id%>">i</div>
      <% if step.accepted? %>
        (<%= step.stage.completion_status %>)
      <% else %>
        (*Current*)
      <% end %>
    </div>
    <% step.uploads.each do |upload| %>
      <% if step.order == @app.active_stage %>
        <div class="small-12 medium-4 large-3 column" id="square-outer-active">
          <div class="upload-box">
            <%= form_for [@app, upload], :html => {:class => "dropzone"} do |f| %>
              <%= f.label :document_file, "#{upload.document.document_name}" %>
              <%= f.hidden_field :document_file %>
            <% end %>
          </div>
          <div class="upload-info">
            <p><a id="icon-<%=upload.id%>" data-open="modal<%=upload.id%>"><%=image_tag("#{upload.icon.icon_img}", height: 60, width: 60)%></a></p>
          </div>
        </div>

      <% else %>
        <div class="complete-step-box">
          <div class="small-12 medium-4 large-3 column" id="square-outer">
            <%= upload.document.document_name %>
            <% if upload.accepted %>
              (<%= upload.document.completion_status %>)
            <% end %>
            <div class="upload-info">
              <p><a id="icon-<%=upload.id%>" data-open="modal<%=upload.id%>"><%=image_tag("#{upload.icon.icon_img}", height: 60, width: 60)%></a></p>
            </div>
          </div>
        </div>
      <% end %>

          <div class="reveal" id="modal<%=upload.id%>" data-reveal>
            <h1><%=upload.document.document_name%></h1>
            <h4><%=upload.document.description%></h4>
            <p class="lead"><%=upload.document.completion_status%>: </p>
            <% if upload.accepted %>
              <p>Yes</p>
            <% else %>
              <p>No</p>
            <% end %>
            <p><%=upload.document_file%></p>
            <%=image_tag("#{upload.icon.icon_img}", height: 100, width: 100)%>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    <% end %>
    <div class="submit-step">
      <% if step.order == @app.active_stage %>
      <%= form_for [@app, step] do |f| %>
      <%= f.label :ready_for_review, "Ready for Review?" %>
      <%= f.check_box :ready_for_review %>

      <%= f.submit "Submit Step for Review" %>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="reveal" id="step-mod<%=step.id%>" data-reveal>
    <h1><%=step.stage.stage_name%></h1>
    <p class="lead"><%=step.stage.description%></p>
    <p>Requirements for Completion:</p>
    <% step.stage.documents.each do |doc| %>
      <li>
        <%= doc.document_name %>
      </li>
    <% end %>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% end %>
