<h1><%= @procedure.procedure_name %></h1>
  <%= button_to "Update Procedure", edit_procedure_path(@procedure), method: :get %>
  <%= button_to "Delete Procedure", procedure_path(@procedure), method: :delete %>
  <br>
  Description: <%= @procedure.description %>
  <br>
  When completed: <%= @procedure.completion_status %>
  <br>
  Stages:
  <%= render '/levels/form' %>
  <br>
  <div class="stage-list">
    <% @stages.each do |stage| %>
      <div class="stage-box">
        Order: <%= stage.this_level(@procedure).order %>
        <%= link_to stage.stage_name, stage_path(stage) %>
        <%= button_to "+1", upmove_level_orders_path(stage.this_level(@procedure)), id: 'up', method: :post %>
        <%= button_to "-1", downmove_level_orders_path(stage.this_level(@procedure)), id: 'down', method: :post %>

          <% stage.documents.each do |document| %>
            <div class="document-list">
              <div class="document-box">
                <%= link_to document.document_name, document_path(document) %>
              </div>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
