<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "DocuMentor" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="notices small-12 columns" id="flash-notices">
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, :class => "flash_#{name}" %>
        <% end %>
      <% end %>
    </div>
    <%= link_to "Home", root_path %>
    <%= link_to "Sign up", new_user_registration_path if !current_user %>
    <%= link_to "Sign in", new_user_session_path if !current_user%>
    <%= link_to "Update Profile", edit_user_registration_path if current_user%>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user%>
    <%= link_to "Procedures", procedures_path if current_user && current_user.admin %>
    <%= link_to "Stages", stages_path if current_user && current_user.admin %>
    <%= link_to "Documents", documents_path if current_user && current_user.admin %>
    <%= yield %>

  </body>
</html>
